body {
	background-image: url(imagens/bg.jpg);
	background-repeat:  no-repeat;
    display: table;
    width: 100%;
    height: 90vh;
    /* padding: 100px 0; */
    background-position: 30% 45%;
    background-size: cover;



}

.mosquito1 {
	width: 110px;
	height: 110px;
}


.mosquito2 {
	width: 130px;
	height: 130px;
}

.mosquito3 {
	width: 90px;
	height: 90px;
}

.ladoB {
	transform: scaleX(-1);
}

.painel {
	position: absolute;
	width: 190px;
	padding: 10px;
	bottom: 10px;
	border-top: solid 1px #fff;
	background-color: #fff;
	opacity: 0.7;
}


.vidas {
	float: left;

}

.cronometro {
	float: left;
	font-size: 20px;
	font-weight: bold;
}

.fundo {
	background-color: rgba(0, 0, 0, 0.3);
	position: relative;
	border-radius: 15px;
	margin: 30px auto;
	padding: 30px;
}